.cmdIcon {
    font-size: 1.5rem;
    color: rgb(0, 87, 204);
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: rgb(103, 165, 247);
    }
}

.menuIcon {
    font-size: 1.2rem;
    text-align: center;
    color: darkgray;
}

.headerMenu {
    display: grid;
    grid-template-columns: 3em auto 30px;
    align-items: center;

    a {
        text-decoration: none;
    }
}

.pageTitle {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2em;
}

.siteIcon {
    background-image: URL('../Bookmark_logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 3em;
    aspect-ratio:2/3;
    margin-left:5px;
}

.item-layout {
    display: grid !important;
    grid-template-columns: 38px auto !important;
    align-items: center;
    cursor: pointer;
}

.searchBarLayout {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:6px;
}