<!--
    The content of this view rely on the one produced
    by the /Bookmarks/GetBookmarks action that call
    Views/Bookmarks/GetBookmarks.cshtml partial view
-->

<div id="BookmarkListPanel">
    <!-- Periodicaly refreshed by instance BookmarkListPanel of class AutoRefreshedPanel -->
</div>

@section Scripts {
    <script>
        $(() => {

            let BookmarkListPanel =
                new AutoRefreshedPanel(
                    "BookmarkListPanel", /* Id of target DOM element */
                    "/Bookmarks/GetBookmarks", /* Url of action to call */
                    5 /* refresh every 5 seconds */,
                    RestoreDetailsState /* post refresh callback  */
                );

            let keywordsOnchangeTimer = null;

            $("#searchInput").on('keyup', function () {
                clearTimeout(keywordsOnchangeTimer);
                /* delay request by 0.5 seconds because we dont want to send a request each time there is a keyup event */
                keywordsOnchangeTimer = setTimeout(() => {
                    // command to send a get request by the browser
                    window.location = "/Bookmarks/SetSearchString?value=" + $("#searchInput").val();
                }, 500 /* 0.5 seconds */);
            });

            $("#searchInput").on('search', function () { /* click on clear */
                clearTimeout(keywordsOnchangeTimer);
                window.location = "/Bookmarks/SetSearchString?value=" + $("#searchInput").val();
            });

            $("#category").on('change', function () {
                window.location = "/Bookmarks/SetSearchCategory?value=" + $("#category").val();
            });

            $("#toggle-collapse").click(function () {
                if ($(this).hasClass("fa-square-caret-right")) {
                    $(this).removeClass("fa-square-caret-right");
                    $(this).addClass("fa-square-caret-down");
                    $('details').prop('open', true);
                    localStorage.setItem('Collapsed', 'false');
                } else {
                    $(this).addClass("fa-square-caret-right");
                    $(this).removeClass("fa-square-caret-down");
                    $('details').removeAttr('open');
                    localStorage.setItem('Collapsed', 'true');
                }
            })
        })

        function RestoreDetailsState() {
            //////////////////////////////////////////////////////////
            /// Install event handler
            //////////////////////////////////////////////////////////
            /// Save details state
            $("details").on('toggle', function () {
                let details_dom = $(this)[0];
                if (details_dom != undefined) {
                    localStorage.setItem(details_dom.id, details_dom.open);
                }
            })
            /// Toggle collapse uncollapse details
            $('summary').on('click', function (e) {
                if (e.ctrlKey) {
                    if ($(this).parent().attr('open') != undefined) {
                        $('details').removeAttr('open');
                        $("#toggle-collapse").addClass("fa-square-caret-right");
                        $("#toggle-collapse").removeClass("fa-square-caret-down");
                        e.preventDefault();
                    }
                    else {
                        $('details').prop('open', true);
                        $("#toggle-collapse").removeClass("fa-square-caret-right");
                        $("#toggle-collapse").addClass("fa-square-caret-down");
                        e.preventDefault();
                    }
                }
            })
            //////////////////////////////////////////////////////////

            // Restore uncollapse command icon state
            if (localStorage.getItem('Collapsed') == "true") {
                $("#toggle-collapse").addClass("fa-square-caret-right");
                $("#toggle-collapse").removeClass("fa-square-caret-down");
            } else {
                $("#toggle-collapse").removeClass("fa-square-caret-right");
                $("#toggle-collapse").addClass("fa-square-caret-down");
            }

            // Restore state of each details tags
            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                // target only keys that contain "details" string
                if (key.indexOf("details") > -1) {
                    let details_dom = $("#" + key)[0];
                    if (details_dom != undefined)
                        // all values in localstorage are stored as string
                        details_dom.open = localStorage.getItem(key) == "true";
                    let i = 0;
                }
            }
        }

    </script>
}