<!--
    The content of this view rely on the one produced 
    by the /Bookmarks/GetBookmarks action that call
    Views/Bookmarks/GetBookmarks.cshtml partial view
-->

<div id="BookmarkListPanel">
    <!-- Periodicaly refreshed by object BookmarkListPanel of class AutoRefreshedPanel -->
</div>

@section Scripts {
    <script>
        $(() => {
            console.log('allo')
            let BookmarkListPanel = new AutoRefreshedPanel("BookmarkListPanel", "/Bookmarks/GetBookmarks", 5 /* refresh every 5 seconds */, RestoreDetailsState);
            let keywordsOnchangeTimger = null;
            $("#searchInput").on('keyup', function () {
                clearTimeout(keywordsOnchangeTimger);
                /* delay request by 0.5 seconds */
                keywordsOnchangeTimger = setTimeout(() => {
                    window.location = "/Bookmarks/SetSearchString?value=" + $("#searchInput").val();
                }, 500 /* 0.5 seconds */);
            });
            $("#searchInput").on('search', function () { /* click on clear */
                clearTimeout(keywordsOnchangeTimger);
                window.location = "/Bookmarks/SetSearchString?value=" + $("#searchInput").val();
            });
            $("#category").on('change', function () { /* click on clear */
                window.location = "/Bookmarks/SetSearchCategory?value=" + $("#category").val();
            });
           
        })

        function saveDetailsState(id) {
            let details = $("#" + id);
            let open = details[0].open;
            localStorage.setItem(id, open);
        }

        function RestoreDetailsState() {
            $("details").on('toggle', function () {
                saveDetailsState($(this).id);
            })
            // Toggle collapse uncollapse details
            $('summary').on('click', function (e) {
                if (e.ctrlKey) {
                    if ($(this).parent().attr('open') != undefined) {
                        $('details').removeAttr('open');
                        e.preventDefault();
                    }
                    else {
                        $('details').prop('open', true);
                        e.preventDefault();
                    }
                }
            })
            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i); 
                if (key.indexOf("details") > -1) {
                    let details = $("#" + key);
                    if (details[0].open != undefined)
                    details[0].open = localStorage.getItem(key) == "true";
                    let i = 0;
                }              
            }
        }

    </script>
}